asgiref==3.7.2
click==7.1.2
cmake==3.18.4.post1
dj-database-url==2.1.0
Django==3.1.3
django-environ==0.11.2
dlib==19.21.0
#dlib==19.22.99 
#@ file:///C:/Users/Mhanex/Desktop/Desktop%20Folder/csc%20project/face/dlib-master/dlib-19.22.99-cp310-cp310-win_amd64.whl
face-recognition==1.3.0
face-recognition-models==0.3.0
gunicorn==21.2.0
#numpy==1.26.2
numpy==1.19.3
opencv-python==4.8.1.78
packaging==23.2
#Pillow==10.1.0
Pillow==8.0.1
playsound==1.2.2
psycopg2-binary==2.9.9
pytz==2020.4
sqlparse==0.4.1
#typing-extensions==4.8.0
tzdata==2023.3
#whitenoise==6.6.0
whitenoise==5.3.0

